$w-xs-min: 0;
$w-xs-max: 768px;
$w-sm-min: 769px;
$w-sm-max: 1279px;
$w-lg-min: 1280px;
$w-lg-max: 2048px;
$w-xl-min: 2049px;

aside {
    .nav-link {
        padding: 12px !important;

        .d-block {
            .nav-link-title {
                font-size: 16px;
            }

            small {
                font-size: 12px;
            }
        }
    }

    .nav-item {
        .nav-link {
            .d-block {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .navbar-collapse {
        height: calc(100vh - 96px) !important;
        display: block !important;

        @media (max-width: $w-xs-max) {
            display: none !important;

            &.show {
                display: block !important;
            }
        }

        .navbar-nav {
            display: block;
            height: auto;
        }

        .nav-link {
            align-items: flex-start;
        }
    }

    .footer-menu {
        height: 36px;
        padding: 6px 8px;
        background: var(--wiz-color-primary-lt);
        border-bottom: 1px solid var(--wiz-color-border);
    }
}

@media (min-width: $w-sm-min) {
    &.focus-mode {
        padding-left: 0 !important;

        aside {
            display: none;
        }
    }
}


.workspace-area {
    height: 100%;
}

.workspace-list-header {
    padding: 9px 24px;
    padding-top: 8px;
    border-bottom: 1px solid var(--wiz-color-border);

    .page-header {
        margin: 0 !important;
    }

    input.form-control {
        border-radius: 16px;
        text-align: center;
    }
}

.floating-menu {
    position: fixed;
    right: 16px;
    bottom: 32px;
    z-index: 1060;

    .btn-circle {
        width: 56px;
        height: 56px;
        border-radius: 56px;
        font-size: 18px;
    }
}

.workspace-list-item {
    width: 100%;
    height: calc(100% - 60px);
    overflow: hidden;
    display: flex;

    .editor-area {
        flex: auto;
    }

    .info-area {
        height: 100%;
        overflow: hidden;
        width: 280px;
        border-right: 1px solid var(--wiz-color-border);
        padding: 0;

        > div {
            height: 100%;
            overflow: hidden;
        }

        .col {
            display: flex;
            align-items: center;
        }

        .form-group {
            border-bottom: 1px solid var(--wiz-color-border);
            padding: 0;
            margin: 0;

            >* {
                padding: 0;
                margin: 0;
            }

            .col-3 {
                padding-left: 8px;
                padding-top: 8px;
                padding-bottom: 8px;
                width: 82px;
            }

            .col {
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 8px;
                padding-bottom: 8px;
            }

            .col-form-select {
                max-height: 172px;
                overflow: auto;
                display: block;
            }
        }

        .form-selectgroup {
            .form-selectgroup-item {
                .form-selectgroup-label {
                    padding: 4px 12px;
                    min-width: 48px;
                    font-size: 12px;
                }
            }
        }
    }

    .menu-area {
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        width: 42px;
        border-left: 1px solid var(--wiz-color-border);

        .btn {
            padding: 8px 12px;
            display: block;
            border: none;
            border-radius: 0;
        }
    }
}

$radius: 24px;

.actions {
    padding: 0;

    .btn {
        height: 32px;
        min-width: 48px;
        padding: 8px 16px;
        font-weight: 1000;
        border-radius: $radius;
    }

    .form-control,
    .form-select {
        height: 32px;
        border-radius: 18px;
    }

    &.action-layout {
        .btn {
            min-width: 48px;
            padding: 4px 12px;
            border-radius: $radius;
        }
    }

    .btn-group {
        @media (max-width: 768px) {
            display: block;
        }

        .btn {
            border-radius: 0;

            @media (max-width: 768px) {
                display: block;
                width: 100%;
                border-radius: 0;

                &:not(:first-child) {
                    border-top: none;
                }
            }
        }

        .btn.btn-active {
            background-color: #F9623E;
            color: #ffffff;
        }

        .btn:first-child {
            border-top-left-radius: $radius;
            border-bottom-left-radius: $radius;

            @media (max-width: 768px) {
                border-top-left-radius: $radius;
                border-top-right-radius: $radius;
                border-bottom-left-radius: 0;
            }
        }

        .btn:last-child {
            border-top-right-radius: $radius;
            border-bottom-right-radius: $radius;

            @media (max-width: 768px) {
                border-bottom-left-radius: $radius;
                border-bottom-right-radius: $radius;
                border-top-right-radius: 0;
            }
        }
    }
}

.code-editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .editor-tabs {
        flex: auto;

        .editor-tab-container {
            display: table;
            table-layout: fixed;
            width: 100%;
            height: 100% !important;

            .editor-tab-editor-container {
                display: table-cell;
                border-right: 1px solid var(--wiz-color-border);
                height: 100%;

                &.inactive {
                    .code-title,
                    .code-select {
                        opacity: 0.5;
                    }
                }

                &:last-child {
                    border-right: none;
                }

                .monaco-area {
                    width: 100% !important;
                    overflow: hidden !important;

                    a.btn.btn-square {
                        border: none;
                        padding: 0 6px !important;
                        height: 28px !important;
                    }

                    .code-title,
                    .code-select {
                        height: 28px;
                        align-items: center;
                    }

                    .monaco-editor-container {
                        height: calc(100vh - 116px);
                        max-height: calc(100% - 57px);
                        overflow: hidden;

                        > div {
                            height: 100%;
                        }
                    }

                    .monaco-editor-container-files {
                        height: calc(100vh - 88px);
                        max-height: calc(100% - 29px);

                        .image-container {
                            width: 100%;
                            height: 100%;
                            overflow: auto;
                            background: var(--wiz-color-primary-lt);
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .editor-debug {
        height: 40vh;
    }

    .split-pane {
        position: relative !important;
        width: 100%;
        height: 100%;

        .split-pane-divider {
            background-color: var(--wiz-color-border);
        }
    }
}

.draggable {
    cursor: grab;
}

.avatar-container {
    display: table-cell;
    height: 36px;
    width: 36px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--wiz-color-secondary);

    &.folder {
        background-color: var(--wiz-color-primary-lt);
        color: var(--wiz-color-primary);
    }
}

.nav-item-header:hover {
    background-color: var(--wiz-color-secondary);
}

.table-shortcut {
    th {
        width: 128px;
        background-color: var(--wiz-color-primary-lt);
        color: var(--wiz-color-primary);
    }

    th, td {
        font-size: 14px;

        .bg-primary {
            border-radius: 6px;
        }
    }
}