.page.aside-page(class="{{viewer.list.show ? 'list-mode' : 'focus-mode'}}")
    aside.navbar.navbar-vertical.navbar-expand-lg.navbar-side
        .container
            .navbar-brand-container.bg-primary
                button.navbar-toggler.text-white(type='button' data-bs-toggle='collapse' data-bs-target='#navbar-menu')
                    span.navbar-toggler-icon

                a.navbar-brand.navbar-brand-autodark.d-none-navbar-horizontal.pr-0.m-0(href="{$ wiz.url() $}")
                    .text-center
                        img.m-0(src="{$ wiz.url.resource('img/logo-white.png') $}" style='height:36px;')

            .footer-menu
                .search
                    input.form-control.form-control-sm.form-control-round(type="text" placeholder="Search..." ng-model="data.search.text" ng-change="event.search(data.search.text)")

            #navbar-menu.navbar-collapse.collapse
                ul.navbar-nav(ng-repeat="category in data.category" ng-if="data.apps[category.id].length > 0" ng-if="viewer.list.mode == 'app'")
                    li.nav-item.nav-item-header 
                        .text-left
                            span {{category.title}}
                            small.ml-1.text-muted ({{data.apps[category.id].length}})
                    
                    li.nav-item(ng-repeat="item in data.apps[category.id]" ng-if="!item.hide" class="{{viewer.tabs.active_tab.org_app_id == item.package.id ? 'active' : ''}}")
                        .row.m-0.p-0
                            .col.m-0.p-0
                                a.nav-link(ng-click="viewer.tabs.add('app', item.package.id)")
                                    span.mr-2(style="width: 20px; text-align: center;")
                                        i.fa-solid.fa-rocket
                                    .d-block
                                        .nav-link-title {{item.package.title}}
                                        small.text-muted {{item.package.id}}
                                
                            .nav-item-status.col-auto.align-self-center.m-0.p-0.mr-2
                                i.fa-solid.fa-circle
                
                ul.navbar-nav(ng-if="data.routes.length > 0" ng-if="viewer.list.mode == 'route'")
                    li.nav-item.nav-item-header
                        .text-left
                            span routes
                            small.ml-1.text-muted ({{data.routes.length}})
                    
                    li.nav-item(ng-repeat="item in data.routes" ng-if="!item.hide" class="{{viewer.tabs.active_tab.org_app_id == item.package.id ? 'active' : ''}}")
                        .row.m-0.p-0
                            .col.m-0.p-0
                                a.nav-link(ng-click="viewer.tabs.add('route', item.package.id)")
                                    span.mr-2(style="width: 20px; text-align: center;")
                                        i.fa-solid.fa-rocket
                                    .d-block
                                        .nav-link-title {{item.package.title}}
                                        small.text-muted {{item.package.id}}
                                
                            .nav-item-status.col-auto.align-self-center.m-0.p-0.mr-2
                                i.fa-solid.fa-circle

    .content
        .workspace-area
            .workspace-list-header
                .page-header.d-print-none
                    .row.align-items-center
                        .col-auto
                            span.status-indicator.status-indicator-animated.status-primary
                                span.status-indicator-circle
                                span.status-indicator-circle
                                span.status-indicator-circle

                        .col(style="line-height: 1;")
                            h2.page-title App Editor
                            .text-muted
                                ul.list-inline.list-inline-dots.mb-0
                                    li.list-inline-item {{viewer.tabs.active_tab.mode}}

                        .col-auto.actions.mr-1
                            .dropdown
                                button.btn.btn-secondary.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false")= branch
                                ul.dropdown-menu
                                    - each item in branches
                                        li
                                            a.dropdown-item(href="?branch={$ item $}{{'#' + data.hash_id}}")= item

                        .col-auto.actions.if-desktop
                            - if is_dev == False
                                a.btn.btn-white.mr-1(href="?dev=true{{'#' + data.hash_id}}") product
                            - else
                                a.btn.btn-primary.mr-1(href="?dev=false{{'#' + data.hash_id}}") develop
                            
                            a.btn.btn-primary.mr-1(ng-click="")
                                i.fa-solid.fa-cloud-arrow-down

                            a.btn.btn-primary.mr-1(ng-click="")
                                i.fa-solid.fa-cloud-arrow-up

                            a.btn.btn-primary.mr-1(ng-click="viewer.tabs.add('app', 'new')")
                                i.fa-solid.fa-plus

                            a.btn.btn-primary.mr-1(ng-click="") Clean
                            
                            a.btn.btn-primary.mr-1(ng-click="") Save

                            a.btn.btn-primary(href="{$ wiz.url('ui/workspace/') $}{{viewer.list.mode == 'route' ? 'routes' : 'apps' }}")
                                i.fa-solid.fa-xmark
            
            .workspace-list-item
                .info-area(ng-if="viewer.info.show")
                    .app-info-area(ng-if="viewer.tabs.active_tab.mode == 'app'")
                        .form-group.d-flex.p-3.pt-2.pb-2.bg-primary-lt
                            h3(style="max-width: 220px; overflow: hidden; text-overflow: ellipsis;") {{viewer.tabs.active_tab.new ? 'new' : viewer.tabs.active_tab.data.package.title}}
                            .ml-auto
                                button.btn.btn-primary.btn-circle.btn-sm(style="height: 24px; width: 24px;" ng-click="viewer.info.toggle()")
                                    i.fa-solid.fa-xmark

                        .form-group.d-flex.p-3.pt-1.pb-1.bg-secondary
                            h4 Package

                        .form-group.row
                            .col-3
                                label.form-label.col-form-label App ID
                            .col
                                input.form-control.form-control-sm.form-control-round(type="text" ng-model="viewer.tabs.active_tab.data.package.id" placeholder="page.auth.login")

                        .form-group.row
                            .col-3
                                label.form-label.col-form-label Title
                            .col
                                input.form-control.form-control-sm.form-control-round(type="text" ng-model="viewer.tabs.active_tab.data.package.title" placeholder="App Title")

                        .form-group.row
                            .col-3
                                label.form-label.col-form-label View URI
                            .col
                                input.form-control.form-control-sm.form-control-round(type="text" ng-model="viewer.tabs.active_tab.data.package.viewuri" placeholder="/routename/path")
                        
                        .form-group.row
                            .col-3
                                label.form-label.col-form-label Category
                            .col.col-form-select
                                .form-selectgroup
                                    label.form-selectgroup-item(ng-repeat="item in data.category")
                                        input.form-selectgroup-input(type="radio" name="category" value="{{item.id}}" ng-model="viewer.tabs.active_tab.data.package.category")
                                        span.form-selectgroup-label {{item.title}}
                        
                        .form-group.row
                            .col-3
                                label.form-label.col-form-label Controller
                            .col.col-form-select
                                .form-selectgroup
                                    label.form-selectgroup-item(ng-repeat="item in data.controller")
                                        input.form-selectgroup-input(type="radio" name="controller" value="{{item}}" ng-model="viewer.tabs.active_tab.data.package.controller")
                                        span.form-selectgroup-label {{item ? item : 'Not use'}}

                        .form-group.row
                            .col-3
                                label.form-label.col-form-label Theme
                            .col.col-form-select
                                .form-selectgroup
                                    label.form-selectgroup-item.d-block(ng-repeat="item in data.theme")
                                        input.form-selectgroup-input(type="radio" name="theme" value="{{item}}" ng-model="viewer.tabs.active_tab.data.package.theme")
                                        span.form-selectgroup-label.d-block {{item ? item : 'Not use'}}

                        .form-group.d-flex.p-3.pt-1.pb-1.bg-secondary
                            h4 Compiler
                        
                        .form-group.row
                            .col-3
                                label.form-label.col-form-label HTML
                            .col.col-form-select
                                .form-selectgroup
                                    label.form-selectgroup-item(ng-repeat="item in data.lang.html")
                                        input.form-selectgroup-input(type="radio" name="compiler_html" value="{{item}}" ng-model="viewer.tabs.active_tab.data.package.properties.html")
                                        span.form-selectgroup-label {{ item }}
                        
                        .form-group.row
                            .col-3
                                label.form-label.col-form-label CSS
                            .col.col-form-select
                                .form-selectgroup
                                    label.form-selectgroup-item(ng-repeat="item in data.lang.css")
                                        input.form-selectgroup-input(type="radio" name="compiler_css" value="{{item}}" ng-model="viewer.tabs.active_tab.data.package.properties.css")
                                        span.form-selectgroup-label {{ item }}
                        
                        
                        .form-group.d-flex.p-3.pt-1.pb-1.bg-secondary(ng-if="!viewer.tabs.active_tab.new")
                            h4 Delete App
                        .p-3(ng-if="!viewer.tabs.active_tab.new")
                            .btn.btn-outline-danger.btn-block(ng-click="event.delete()") Delete App


                .editor-area(style="width: calc(100% - {{ viewer.info.show ? '322px' : '42px' }}) !important;")
                    .code-editor
                        .editor-tabs
                            .editor-tab-container(ui-sortable='data.sortable' ng-model="viewer.tabs.data")
                                .editor-tab-editor-container(ng-repeat="tab in viewer.tabs.data" ng-click="tab.activate()" class="{{viewer.tabs.active_tab.id == tab.id ? 'active' : 'inactive'}}")
                                    
                                    //- app editor
                                    .monaco-area(ng-if="tab.mode == 'app'" style="height: {{ viewer.debug.show ? 'calc(100vh - 420px)' : '100%' }} !important;")
                                        .draggable.code-title.bg-primary.d-flex
                                            .pl-2(style="max-width: 80%;")
                                                .nowrap 
                                                    span [apps] {{tab.data.package.title}} 
                                                    small ({{tab.data.package.id}})
                                            .ml-auto
                                            a.btn.btn-square.btn-sm.btn-primary.p-2(ng-click="viewer.tabs.remove(tab)")
                                                i.fa-solid.fa-xmark

                                        .code-select.bg-primary.d-flex
                                            a.btn.btn-square.btn-sm.p-2(ng-click="tab.code.select('controller')" class="{{tab.code.target == 'controller' ? 'text-dark' : 'bg-primary'}}") Controller
                                            a.btn.btn-square.btn-sm.p-2(ng-click="tab.code.select('api')" class="{{tab.code.target == 'api' ? 'text-dark' : 'bg-primary'}}") API
                                            a.btn.btn-square.btn-sm.p-2(ng-click="tab.code.select('socketio')" class="{{tab.code.target == 'socketio' ? 'text-dark' : 'bg-primary'}}") SocketIO
                                            a.btn.btn-square.btn-sm.p-2(ng-click="tab.code.select('html')" class="{{tab.code.target == 'html' ? 'text-dark' : 'bg-primary'}}") HTML
                                            a.btn.btn-square.btn-sm.p-2(ng-click="tab.code.select('js')" class="{{tab.code.target == 'js' ? 'text-dark' : 'bg-primary'}}") JS
                                            a.btn.btn-square.btn-sm.p-2(ng-click="tab.code.select('css')" class="{{tab.code.target == 'css' ? 'text-dark' : 'bg-primary'}}") CSS
                                            a.btn.btn-square.btn-sm.p-2(ng-click="tab.code.select('dic')" class="{{tab.code.target == 'dic' ? 'text-dark' : 'bg-primary'}}") Dic
                                            a.btn.btn-square.btn-sm.p-2(ng-click="tab.code.select('preview')" class="{{tab.code.target == 'preview' ? 'text-dark' : 'bg-primary'}}") Preview

                                        .monaco-editor-container(ng-if="tab.show")
                                            div(ng-if="!['preview', 'dic'].includes(tab.code.target)" ng-model="tab.data[tab.code.target]" ui-monaco-opts="tab.monaco" ui-monaco)

                                    //- route editor

                                    //- file editor
                                       
                        .editor-debug(ng-if="viewer.debug.show")
                            .code-select.bg-primary.d-flex(style="margin-top: -2px;")
                                a.btn.btn-square.btn-sm.p-2.text-dark DEBUG
                                a.btn.btn-square.btn-primary.btn-sm.p-2.ml-auto(ng-click="socket.clear()") CLEAR
                                a.btn.btn-square.btn-primary.btn-sm.p-2(ng-click="viewer.debug.toggle()")
                                    i.fa-solid.fa-xmark
                            div(style="height: calc(100% - 33px);")
                                .dizest-debug-messages(style="overflow: auto; max-width: none; width: 100%; height: 100%; background: #000; color: #fff; padding: 8px; line-height: 1;" ng-bind-html="trustAsHtml(socket.log)")

                .menu-area
                    .d-block
                        .btn(ng-click="viewer.apps.toggle()" class="{{viewer.apps.show ? 'btn-primary' : 'btn-white'}}")
                            i.fa-solid.fa-list-ul

                    .d-block
                        .btn(ng-click="viewer.info.toggle()" class="{{viewer.info.show ? 'btn-primary' : 'btn-white'}}")
                            i.fa-solid.fa-info

                    .d-block
                        .btn(ng-click="viewer.debug.toggle()" class="{{viewer.debug.show ? 'btn-primary' : 'btn-white'}}")
                            i.fa-solid.fa-terminal
                    
                    .mt-auto

                    .d-block
                        .btn.btn-white(ng-click="")
                            i.fa-solid.fa-keyboard

    {$ wiz.render("modal.message") $}