.workspace-list
    .workspace-list-header
        .page-header.d-print-none
            .row.align-items-center
                .col-auto
                    span.status-indicator.status-indicator-animated.status-primary
                        span.status-indicator-circle
                        span.status-indicator-circle
                        span.status-indicator-circle

                .col(style="line-height: 1;")
                    h2.page-title Plugin
                    .text-muted
                        ul.list-inline.list-inline-dots.mb-0
                            li.list-inline-item Installed plugins
                
                .col-2
                    input.form-control(type="text" placeholder="search title or id" ng-model="search.text" ng-change="event.search(search.text)")
                
                .col-auto.actions
                    a.btn.btn-primary(ng-click="event.new('{$ wiz.url('ui/plugin/ide/') $}', search.text)")
                        i.fa-solid.fa-plus
    
    .workflow-list-item
        .container.pt-4
            .row.row-deck.row-cards
                .col-md-3.p-3(ng-repeat="item in data" ng-if="!item.hide")
                    .card.card-hover(ng-click="link('{$ wiz.url('ui/plugin/ide/') $}' + item.id)")
                        .card-body.p-0
                            .img-responsive(style="position: relative; background-image: url('{{item.featured}}')")
                                svg(viewBox="0 0 16 9")
                                    rect(width="16" height="12" style="fill:rgba(255,255,255,0);")

                        .card-footer.d-flex(style="align-items: center;")
                            .avatar-area.avatar-area-sm.mr-3
                                .avatar-container
                                    span.avatar(style="background-image: url({{item.logo}})")
                            .text-area
                                h3.card-title.mb-0
                                    .text-reset(style="white-space: normal; word-break: break-all;") {{item.name}}
                                .text-muted {{item.publisher ? item.publisher : 'unknown'}}

    {$ wiz.render("modal.message") $}