.workspace-list
    .workspace-list-header
        .page-header.d-print-none
            .row.align-items-center
                .col-auto
                    span.status-indicator.status-indicator-animated.status-primary
                        span.status-indicator-circle
                        span.status-indicator-circle
                        span.status-indicator-circle

                .col(style="line-height: 1;")
                    h2.page-title Plugin
                    .text-muted
                        ul.list-inline.list-inline-dots.mb-0
                            li.list-inline-item Installed plugins
                
                .col-2
                    input.form-control(type="text" placeholder="Search..." ng-model="search.text" ng-change="event.search(search.text)")
                
                .col-auto.actions
                    a.btn.btn-primary(href="{$ wiz.url('ui/setting/ide') + '#route/new' $}")
                        i.fa-solid.fa-plus
    
    .workflow-list-item
        .container.pt-4
            table.table.table-hover.text-left
                thead
                    tr.bg-primary
                        th.w-1.text-left ID
                        th.text-left PLUGIN

                tbody
                    tr(ng-repeat="item in data" ng-if="!item.hide")
                        td.w-1.text-left 
                            a(href="{$ wiz.url('ui/plugin/ide/') $}{{item.id}}") {{item.id}}
                        td.text-left 
                            a(href="{$ wiz.url('ui/plugin/ide/') $}{{item.id}}") {{item.name}}