.workspace-list
    .workspace-list-header
        .page-header.d-print-none
            .row.align-items-center
                .col-auto
                    span.status-indicator.status-indicator-animated.status-primary
                        span.status-indicator-circle
                        span.status-indicator-circle
                        span.status-indicator-circle

                .col(style="line-height: 1;")
                    h2.page-title Apps
                    .text-muted
                        ul.list-inline.list-inline-dots.mb-0
                            li.list-inline-item applications          
                .col-2
                    input.form-control(type="text" placeholder="Search..." ng-model="search.text" ng-change="event.search(search.text)")

                .col-auto.actions
                    a.btn.btn-primary(href="{$ wiz.url('ui/workspace/ide') + '#app/new' $}")
                        i.fa-solid.fa-plus
    
    .workflow-list-item
        .container.pt-4
            .row 
                .col-md-3
                    .card.p-0
                        .card-header.p-2.d-block.text-center.bg-primary
                            h4.card-title Categories

                        .card-body.p-0
                            .list-group.list-group-transparent.m-0
                                a.list-group-item.list-group-item-action.d-flex.align-items-center.cursor-pointer(class="{{'' == hash ? 'active' : ''}}" ng-click="event.category('')")
                                    | All Apps
                                    small.text-muted.ml-auto {{facet.count}}

                                a.list-group-item.list-group-item-action.d-flex.align-items-center.cursor-pointer(ng-click="event.category(category.id)" class="{{category.id == hash ? 'active' : ''}}" ng-repeat="category in categoires")
                                    | {{category.title}}
                                    small.text-muted.ml-auto {{facet.category[category.id] ? facet.category[category.id] : '0'}}
                .col-md-9.pr-3.pl-3
                    table.table.table-hover.text-left
                        thead
                            tr.bg-primary
                                th.w-1 ID
                                th TITLE
                                th.w-1 CATEGORY
                                th.w-1 UPDATED

                        tbody
                            tr(ng-repeat="item in data" ng-if="!item.hide")
                                td.w-1.text-left 
                                    a(href="{$ wiz.url('ui/workspace/ide') + '#app/' $}{{item.package.id}}") {{item.package.id}}
                                td.text-left
                                    a(href="{$ wiz.url('ui/workspace/ide') + '#app/' $}{{item.package.id}}") {{item.package.title}}
                                td.w-1.text-left {{item.package.category}}
                                td.w-1 {{datedisplay(item.package.updated)}}